/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
.idea/

.phpunit
.phpunit.result.cache
/phpunit.xml

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

