{% extends 'base.html.twig' %}

{% block body %}

    <h1>Récapitulatif de ma demande</h1>

    Vous cherchez un médecin :
    <ul>
        <li>à l'adresse suivante : {{ rdv.adresse }}</li>

    </ul>

{% endblock %}