{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex">
            <h1 class="text-primary">Médecin à domicile</h1>
        </div>
        <div class="btn-group" id="rdv-button" role="group" aria-label="Basic example">
            <a href="#" ><button class="btn btn-primary btn-lg">Demander un rendez-vous</button></a>
        </div>
    </div>
{% endblock %}

