{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex">
            <p class="text-primary motto pt-5">Prenez un rendez-vous en consultation à domicile</p>
        </div>
        {% if (rdv) %}
            <div class="d-flex align-items-center flex-column flex-fill">
                <div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
                    <h6 class="card-header">Demande en attente de confirmation :</h6>
                    <div class="card-body">
                        <h4 class="card-title">Vous avez fait une demande de consultation pour le<br> {{ rdv.date|date("d M") }},
                                le {{ rdv.creneau }}

                    </div>
                </div>
            </div>

        {% else %}
        <div class="btn-group" id="rdv-button" role="group" aria-label="Basic example">

            <a href="{{ path ('patient_rdv') }}">
                <button class="btn btn-primary btn-lg">Demander un rendez-vous</button>
            </a>

        </div>
        {% endif %}
    </div>
{% endblock %}

