{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex">
            <p class="text-primary motto pt-5">Prenez un rendez-vous en consultation à domicile</p>
        </div>
        {% if (rdv) %}
        <div>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Rendez vous</div>
                <div class="card-body">
                    <h4 class="card-title">{{ rdv.date|date("m/d/Y") }}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="btn-group" id="rdv-button" role="group" aria-label="Basic example">
<<<<<<< HEAD
            <a href="{{ path('patient_rdv')}}" ><button class="btn btn-primary btn-lg">Demander un rendez-vous</button></a>
=======
            <a href="{{ path ('patient_rdv') }}" ><button class="btn btn-primary btn-lg">Demander un rendez-vous</button></a>
>>>>>>> 53daa757b5b49708e8ae9c769cc3de16f7850aea
        </div>
        {% endif %}
    </div>
{% endblock %}

