{% extends 'base.html.twig' %}
{% block body %}
<h1>Bonjour</h1>
    {{ gps.features.0.geometry.coordinates.0 }}
    {{ gps.features.0.geometry.coordinates.1 }}

    {{ address.features.0.place_name }}

{% endblock %}
