@import "../../node_modules/bootswatch/dist/minty/variables";
@import '../../node_modules/bootstrap/scss/bootstrap';
@import "../../node_modules/bootswatch/dist/minty/bootswatch";

body {
    font-family: 'Raleway', sans-serif;
}

.confirmation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    font-size: 16px;
    text-align: left;
    padding: 20px;
  }
  button {
    margin: 20px;
  }
}