@import "../../node_modules/bootswatch/dist/minty/variables";
@import '../../node_modules/bootstrap/scss/bootstrap';
@import "../../node_modules/bootswatch/dist/minty/bootswatch";

body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;

}
h1{
    text-align: center;
}
#nav-bar{
    a {
    font-size: 1.7em;
    }
}

#rdv-button {

    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 100%;

    button{
        padding: 10px;
        max-width: 310px;
        font-size: 40px;
    }
}


.confirmation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    font-size: 16px;
    text-align: left;
    padding: 20px;
  }
  button {
    margin: 20px;
  }
}

